@model RestaurantManagementSystems.PayrollSystem.Models.Dependent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dependent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Relationship)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Relationship)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DependentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
